<div class="row">
  <nav class="black">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">Onload</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"
        ><i class="material-icons">menu</i></a
      >

      <ul class="right hide-on-med-and-down">
        <li>
          <a href="/"><i class="material-icons left">house</i>Home</a>
        </li>
        <li>
          <a href="/login"><i class="material-icons left">login</i>Login</a>
        </li>
        <li>
          <a href="/cadastro"><i class="material-icons left">add</i>Cadastro</a>
        </li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li>
      <a href="/"><i class="material-icons left">house</i>Home</a>
    </li>
    <li>
      <a href="/login"><i class="material-icons left">login</i>Login</a>
    </li>
    <li>
      <a href="/cadastro"><i class="material-icons left">add</i>Cadastro</a>
    </li>
  </ul>
</div>
