<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('partials/libs') %>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('partials/navegador') %>
    
    
    <script src="/javascripts/script.js"></script>
  </body>
</html>
